.center {
    text-align: center;
}

.img-prev {
    display: inline-block;
    text-align: left;
    width: 49%;
}

.img-next {
    display: inline-block;
    text-align: right;
    width: 49%;
}

/* Utilisation de Media Query */
/* Je n'y arrive pas */